body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: cadetblue;
    padding: 50px 100px 150px 10px;
}

main { 
    background-color: burlywood;
}

.mainpicture {
    background-color: blue;
    width: 150px;
    margin: 50px 80px;
}

.mainpicture img {
    width: 150px;
}

footer {
    background-color: violet;
    border: 10px solid black;
    /*border-width: 10px;
    border-color: black;
    border-style: solid;*/
}